{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- displaying Username -->
    <div class="col-md-4">
      <h3> {{user.username | capitalize}}</h3>
      <!-- Displaying user bio -->
      {% if user.bio %}
        <p>{{user.bio}}</p>
      {% else %}
        <p> {{user.username|capitalize}} has no bio </p>
      {% endif %}

      {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
      {% endif %}
    </div>

    <!-- Displaying profile photo -->
    <div class="col-md-4">
      {% if user.profile_pic_path %}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
      {% else %}
        <p>No profile picture</p>
      {% endif %}

      {% if user == current_user %}
        <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
          <input type="file" name="photo" class="form-control" required>
          <input type="submit">
        </form>
      {% endif %}

    </div>
  </div>

  {% for pitch in pitches %}
  <!-- <div class="row"> -->
    <div class="col-md-3">

     <div class="well" style="width: 25rem">
         <h5 class="card-title">Title: {{ pitch.pitch_title }}</h5>
         <p class="card-text">{{ pitch.pitch_body }}</p>
         <p class="article-content">Likes: {{ pitch.like}}</p>
         <p class="article-content">Dislikes: {{ pitch.dislike}}</p>
         <p class="article-content">Posted at: {{ pitch.posted.strftime('%Y-%m-%d')}}</p>
         <p class="article-content">Posted by: {{ pitch.user.username}}</p>

         <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
   <!-- </div> -->
   </div>
   {% endfor %}
</div>
{% endblock %}
