{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Content block -->


{% block content %}
<div class="container">

  <!-- <div class="row"> -->
    <div class="col-md-3">

     <div class="well" style="width: 25rem">
         <h5 class="card-title">Title: {{ pitch.pitch_title }}</h5>
         <p class="card-text">{{ pitch.pitch_body }}</p>
         <a href="/pitch_review/{{pitch.id}}?like=1">Like: </a><p>{{pitch.like}}</p>
         <a href="/pitch_review/{{pitch.id}}?dislike=1">Dislike: </a></p>{{ pitch.dislike}}</p>
         <p class="article-content">Posted at: {{ pitch.posted.strftime('%Y-%m-%d')}}</p>
         <p class="article-content">Posted by: {{ pitch.user.username}}</p>
         <a href="/pitch_review/{{pitch.id}}" class="btn btn-primary">Comment</a>

     </div>
   </div>
        <div class="col-md-8">
        </div>

        <div class="col-md-4">

            {{ wtf.quick_form(review_form) }}
            {{simplemde.load}}
        </div>

    </div>


    <h2>Comments</h2>
    {%for comment in comment %}

         <div class="well" style="width: 25rem">
             <p>Comment: {{ comment.review}}</p>
             <p>Time posted: {{ comment.posted.strftime('%Y-%m-%d')}}</p>
       </div>
     {% endfor %}

{% endblock %}
